/* Changes color to blue */
.myclass { 
    color: blue; 
}

/*changes heading id background to red*/
#heading { 
    background-color: #ff0000;
}

/*changes everything to be black*/
* {
    color: hsl(0,0,0)
}

main { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: baseline;
}

a[href^="#"] { 
    display: none;
}

button:hover {
    background-color: blue;
}

button:active { 
    background-color: red;
}



